@tailwind base;
@tailwind components;
@tailwind utilities;

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

@layer base {
  html {
    font-family: inter, system-ui, sans-serif;
    color: #131313;
  }
}

